<div class="card w-100 p-3" >

<div class="card-body border border-dark " style="margin-top: 2em; cursor:pointer">
    <h5 class="card-title d-flex justify-content-between text-dark" style="background-color: aquamarine ;padding: 4px">Welcome to O-Tech!</h5>
    <p class="card-text">This is my Blog, O-Tech. You can post tech articles here and see your posts on your user dashboard! Just head to the login page to get signed in, or sign up for an account.</p> 
</div>

</div>