<div class="card w-100 p-3" >

<div class="card-body border border-dark " style="margin-top: 2em; cursor:pointer">
    <h5 class="card-title d-flex justify-content-between text-dark" style="background-color: aquamarine ;padding: 4px">This is a welcome Title for the home page</h5>
    <p class="card-text">Add in some stuff here to talk about what this site is and why they want it</p> 
</div>

</div>